*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: cursive;
}
body{
    background-color: #EEEEEE;
}
header .maxwidth{
    width: 100%;
    background: rgb(22,175,223);
background: linear-gradient(90deg, rgba(22,175,223,1) 0%, rgba(233,6,50,1) 100%, rgba(2,0,36,1) 100%);
    color: white;
}
header .maxwidth .contenant{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin:auto;
}
header .maxwidth .contenant .logo a{
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    vertical-align: auto;
}
header .maxwidth .contenant .logo a span{
    color: crimson;
    font-size: 50px;
    font-family: serif;
    font-weight: 600;
}
header .maxwidth .contenant .menu ul li{
    display: inline-block;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
header .maxwidth .contenant .menu ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
header .maxwidth .contenant .liens{
    padding-top: 20px;
    padding-bottom: 30px;
   
}
header .maxwidth .contenant .liens img{
    border: solid 2px grey;
    border-radius: 100%;
}
header .maxwidth .contenant .liens i{
    color: white;
    padding-left: 10px;
}
header .maxwidth .contenant .menu ul li:hover{
    text-decoration:underline #00BEF4 2px;
}
header .maxwidth .contenant .liens .fa-twitter:hover{
    color: #00acee;

}
header .maxwidth .contenant .liens .fa-facebook:hover{
    color: #3b5998;
}
header .maxwidth .contenant .liens .fa-instagram-square:hover{
    color: #FC880A;
}
header .maxwidth .contenant .liens .fa-linkedin:hover{
    color: #0e76a8;
}

/**888888888888888888888888888888888888888888888888888888888888888888888888888888888888888**/

.partie1{
   position: relative;
}
.partie1 .liens{
    display: flex;
    flex-direction: column;
    position: fixed;
    
    left: 40px;
    height: 100%;
    top: auto;
    bottom: auto;
}    
.partie1 .liens a .fa-twitter{
    color: #00acee;
    padding-bottom: 10px;
}
.partie1 .liens a .fa-facebook{
    color: #3b5998;
    padding-bottom: 10px;
}
.partie1 .liens a .fa-linkedin{
    color: #0e76a8;
    padding-bottom: 10px;
}
.partie1 .liens a .fa-envelope{
    color: rgb(138, 137, 137);
    padding-bottom: 10px;
}
.partie1 .maxwidth .h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
}
.partie1 .maxwidth .post{
    color: rgb(138, 137, 137);
    padding-bottom: 50px;
    text-align: center;
}
.partie1 .maxwidth{
    margin-top: 100px;
    margin-left: 100px;
    width: 760px;
    margin: 20px auto;
    padding-top: 20px;
    line-height: 30px;
    color: #474646;
    font-size: 18px;
}
.partie1 .maxwidth figure{
    text-align: center;
}
.partie1 .maxwidth ul li{
    list-style-type: square;
}
.partie1 .maxwidth ul{
    padding-left: 20px;
 font-size: 18px;
}
.partie1 .maxwidth .h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}
.partie1 .maxwidth form{
    padding-bottom: 30px;
    border-top: #474646 solid 1px;
    padding-top: 20px;
}
.partie1 .maxwidth form input{
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}
.partie1 .maxwidth form button{
    width: 100px;
    height: 35px;
    font-weight: bold;
    color: #474646;
    margin-top: 10px;
    
}